.icon {
    height: 30px;
    width: 30px;
    border: 3px solid #EA5E40;
    border-radius: 50%;
    font-size: 14px;
    color: #EA5E40;
}

.entry {
    cursor: pointer;
}

.entry:hover {
    background-color: #FEF7F5;
}
