<div class="col-md-12 mx-auto mt-5">
    <h1 class="text-center">JustWrite</h1>
    <p class="text-center mb-4">Great minds write alike.</p>
    <div class="col-md-4 bg-white shadow border-round mx-auto d-flex flex-column py-4">
        <div>
          <label for="username" class="d-block">Username</label>
          <input type="text" id="username" name="username" class="d-block w-100 border-round">
        </div>

        <div class="w-100">
          <label for="password" class="d-block w-100">Password</label>
          <input type="password" id="password" name="password" class="d-block w-100 border-round">
        </div>

        <a class="btn btn-primary col-md-12 border-round" [routerLink]="['/write']">
          Login
        </a>
    </div>
  </div>
