<div class="col-md-6 mx-auto">

  <h1 class="text-center">JustWrite</h1>
  <h2 class="text-center">Great minds write alike.</h2>
  <div class="col-md-12 bg-white">
      <div>
        <label for="username" class="d-block">Username</label>
        <input type="text" id="username" name="username" class="d-block w-100">
      </div>

      <div class="w-100">
        <label for="password" class="d-block w-100">Password</label>
        <input type="password" id="password" name="password" class="d-block w-100">
      </div>

      <a class="btn" [routerLink]="['/write']">
        Login
      </a>

  </div>
  </div>
