:host {
    display: block;
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    width: 70px;
    height:100%;
  }

  .logo {
      height: 72px;
      width: 70px;
  }

  a {
      text-decoration: none;
      font-size: 12px;
  }

  .link-item {
      font-size: 25px;
    //   height: 70px;
  }

  .link-item:hover {

  }

  .nav-holder {
      height: calc(100% - 70px);
  }

  .sign-out {
      transform: rotate(180deg)
  }