<nav class="w-100 shadow bg-beige pb-3 h-100 text-primary">
  <div class="logo text-center d-flex align-items-center border-bottom justify-content-center">
    jw
  </div>
  <div class="nav-holder d-flex flex-column align-items-center">
    <a routerLink="/write" routerLinkActive="active-link" class="link-item text-primary mb-3 py-3 align-items-center justify-content-center d-flex">
      <i class="far fa-edit"></i>
      <!-- <span class="d-block link-text text-center">Write</span> -->
    </a>


    <a routerLink="/connect"  routerLinkActive="active-link" class="link-item text-primary py-1 d-flex flex-column align-items-center justify-content-center">
      <i class="far fa-comment"></i>
      <!-- <span class="d-block link-text text-center">Connect</span> -->
    </a>

    <a routerLink="/"  class="link-item sign-out mt-auto text-primary py-1 d-flex flex-column align-items-center justify-content-center">
      <i class="fas fa-sign-out-alt"></i>
      <!-- <span class="d-block link-text text-center">Connect</span> -->
    </a>
  </div>
</nav>