.sidebar {
    height:100%;
    position: fixed;
    left:0;
    top:0;
    width:250px;
    margin-left:70px;
    z-index: 99;
    
    transform: translateX(-250px);

    transition: transform 0.5s ease-in-out;
    background: white;
    overflow-y: scroll;
    border-right: 1px solid #c4c4c4;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.sidebar.active {
    transform: translateX(0);
}

.entry-container {
    margin-top: 72px;
}

.search-container {
    top:0;
}

.search {
    font-family: 'Rubik';
    font-size: 20px;
    // font-weight: bold;
}


