<div class="container shadow h-100" [ngClass]="{ 'active': uiService.isSidebarVisible }">
  <ul>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
    <li class="py-5">Dogs</li>
  </ul>
</div>
