textarea {
    font-size: 20px;
    height:70vh;
}

input {
    font-size: 60px;
    border: none;
}

.title {
    font-family: 'Rubik';
    font-weight: 500;
}

.container {
    height: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.container.move {
    transform: translateX(200px);
}