/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap-grid';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

$beige: #FEF7F5;
$primary: #EA5E40;
$grey: #F1F1F1;

html, body {
    margin: 0;
    height: 100%;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }


h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: 500;
}

body {
    font-family: 'Rubik';
    -webkit-font-smoothing: antialiased;
    // background-color: $beige;
    // font-weight: 600;
}


a {
    text-decoration: none;
}


.bg-beige {
    background-color: $beige;
}

.bg-primary {
    background-color: $beige;
}

.bg-white {
    background-color: white;
}

.text-primary {
    color: $primary;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.border {
    border-color: $grey;
}


.text-bold {
    font-weight: 500;
}

.border-bottom-primary {
    border-bottom: 1px solid $primary;

}

.border-bottom {
    border-bottom: 1px solid $grey;
}

.w-100 {
    width:100%;
}

.position-relative {
    position: relative;
}

.h-100 {
    height:100%;
}

.position-fixed {
    position: fixed;
}

.border-round {
    border-radius: 20px;
}

.shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
}


input, textarea {
    outline: none;
    font-family: 'Crimson Text';
    border: none;
}

textarea {
    border:none;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background: $primary;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px 10px;
}

.pointer {
    cursor: pointer;
}


.tag__sm {
    background-color: $beige;
    font-size: 10px;
    padding: 5px 6px;
    margin-right:3px;
    border-radius: 20px;
}

.tag__sm--good {
    background-color: #C4FFDF;
}

.tag__sm--bad {
    background-color: #FF9595;
} 